/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/apertium-tha.pc
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/tha.autogen.att.gz
/tha.autogen.bin
/tha.automorf.att.gz
/tha.automorf.bin
/tha.rlx.bin
