* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-tha.pc.in -text
/apertium-tha.post-tha.dix -text
/apertium-tha.tha.dix -text
/apertium-tha.tha.rlx -text
/autogen.sh -text
/configure.ac -text
dev/thai.speling -text
dev/thai.wiktionary.speling -text
dev/wiktionary/abbr.txt -text
dev/wiktionary/adjec.txt -text
dev/wiktionary/adv.txt -text
dev/wiktionary/class.txt -text
dev/wiktionary/conj.txt -text
dev/wiktionary/det.txt -text
dev/wiktionary/interj.txt -text
dev/wiktionary/nouns.txt -text
dev/wiktionary/np-ant-f.txt -text
dev/wiktionary/np-ant-m.txt -text
dev/wiktionary/part.txt -text
dev/wiktionary/prep.txt -text
dev/wiktionary/pron.txt -text
dev/wiktionary/verbs.txt -text
/modes.xml -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
